/**********
Styles
**********/

/* PALETTE */
:root {
  --brand-blue: #2F74FF;
  --brand-red: #E82C0C;
  --brand-orange: #FF791B;
  --svg-background: #ffffff;
}


@font-face {
  font-family: 'Nexa Light';
  src: url('fonts/nexa_light.ttf');
}

@font-face {
  font-family: 'Nexa Bold';
  src: url('fonts/nexa_bold.ttf');
}

/* WEBPAGE */
.navbar {
  background-color: var(--brand-blue)!important;
}

.progress-bar {
  background-color: var(--brand-blue);
  opacity: 0.4;
  height: 3px;
  position: fixed;
  top: 0;
  bottom: 0;
}

body {
  margin: 0px auto;
  padding-top: 3.5rem;
  font-family: "Nexa Light", 'Arial', monospace;
  background-color: #f0f0f0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Nexa Bold", 'Arial Bold', monospace;
  margin-bottom: 1rem;
}

section {
  width: 28%;
  margin-right: 10%;
  font-size: 1.2rem;
}

section > div {
  opacity: .1;
  margin-bottom: 300px;
}

section > div:last-child {
  margin-bottom: 250px;
}

section > div.graph-scroll-active {
  opacity: 1;
  transition: 0.8s ease;
}

.graph {
  top: auto;
  position: absolute;
  width: 780px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-top: 3px solid var(--brand-blue);
  margin-left: 28%;
  margin-top: 3rem;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.2)
}

#graph-options {
  width: 700px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-bottom: 3px solid var(--brand-blue);
  border-radius: 2px;
  margin-bottom: -10px;
  margin-top: 4rem;
  margin-left: 41%;
  padding: 8px 2px;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.2)
}

.graph-scroll-fixed .graph {
  position: fixed;
  top: 0px;
}

.graph-scroll-below .graph {
  bottom: 0px;
  top: 0px;
}

.graph-fill-over {
  fill: var(--brand-orange);
}

.graph-fill-under {
  fill: var(--brand-red);
}

.graph-fill-clear {
  fill: var(--svg-background);
}

.graph-fill-inactive {
  opacity: 0.2;
}
/* GRAPH */
svg {
  background-color: var(--svg-background);
}

text {
  fill: #444444;
  font-family: "Nexa Light", 'Menlo', monospace;
}

/* axes */
.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	font-size: 12px;
}

.legend {
  font-size: 0.9rem;
}

/* shapes */
circle {
  fill: steelblue;
}

.bar {
  fill: #666666;
  z-index: -1;
  opacity: 0.15;
  transition: 1s;
}

/* tooltip */
.d3-tip {
  line-height: 1;
  padding: 12px;
  background-color: #222222;
  opacity: 0.9;
  color: #fff;
  border-radius: 4px;
  transition: 0.5s;
}

.pulse {
      animation: pulse 2s ease infinite;
    }

    @keyframes pulse {
      0% {
        transform: scale(0.5);
        transform-origin: center center;
        opacity: 0.8
      }
      100% {
        transform: scale(1.5);
        transform-origin: center center;
        opacity: 0
      }
    }


/* media */
@media (max-width: 925px) {
  .graph {
    margin: 10px auto;
    z-index: 1000;
  }

  section {
    width: 800px;
    margin: 0px auto;
    padding-top: 600px;
    text-align: center;
  }

  section div {
    padding: 10px 80px;
    margin-bottom: 600px;
    font-size: 1.6rem;
  }

  #graph-options {
    margin: 10px auto;
    padding: 16px 30px;
  }
}
